@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #FF385C;
  --color-primary-hover: #E03250;
  --color-text: #222222;
  --color-text-light: #717171;
  --color-bg: #FFFFFF;
  --color-bg-light: #F7F7F7;
  --color-border: #DDDDDD;
   --font-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-bg text-text font-sans
}
